<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.addpayinvokedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AddPayInvokeDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trans.ConsumeActivity" />
        <activity android:name=".trans.RefundActivity" />
        <activity android:name=".trans.QueryActivity" />
        <activity android:name=".trans.PreAuthActivity" />
        <activity android:name=".trans.PreAuthCompleteActivity" />
        <activity android:name=".trans.PreAuthCanceleActivity" />
        <activity android:name=".trans.PrintActivity" />
    </application>

</manifest>